{% extends 'common_code/base.html' %}
{% load static %}
{% block title %}Investors{% endblock title %}  


{% block content %}
<!-- student_id = models.IntegerField()
    student_name = models.CharField(max_length=25)
    student_email = models.EmailField(max_length=29)
    batch = models.IntegerField()
    course = models.CharField(max_length=43)     -->


<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      
      {% if std %}
        
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Batch</th>
            <th scope="col">Course</th>
          </tr>
        </thead>
        <tbody> 
          
          {% for s in std %}
            
          <tr>
            <th scope="row">{{s.student_id}}</th>
            
            <td>{{s.student_name}}</td>
            <td>{{s.student_email}}</td>
            <td>{{s.batch}}</td>
            <td>{{s.course}}</td>
            
          </tr> 

          {% endfor %}
            

          
        </tbody>
      </table>
      {% else %}
      <h2>No data available.</h2>
      {% endif %}
    </div>
  </div>
</div>




{% endblock content %}
    