{% extends 'common_code/base.html' %}
{% load static %}

{% block title %}
    UserFrom
{% endblock title %}
    

{% block content %}
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in frm %}
                        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                        <br>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Submit">
                    <div class="container">
                        
                        <a href="{% url 'login' %}">already registered?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
    